<?xml version="1.0"?>
<config>
	<modules>
		<REsplin_CustomerNumber>
			<version>0.1.0</version>
		</REsplin_CustomerNumber>
	</modules>

	<global>
		<models>
			<REsplin_CustomerNumber>
				<class>REsplin_CustomerNumber_Model</class>
			</REsplin_CustomerNumber>
		</models>

		<resources>
			<customernumber_setup>
				<setup>
					<module>REsplin_CustomerNumber</module>
					<class>REsplin_CustomerNumber_Model_Resource_Setup</class>
				</setup>
			</customernumber_setup>
		</resources>
	</global>

	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<REsplin_CustomerNumber after="Mage_Adminhtml">REsplin_CustomerNumber</REsplin_CustomerNumber>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>

	<adminhtml>
		<events>
			<core_block_abstract_to_html_before>
				<observers>
					<resplin_customernumber_before_block_to_html>
						<type>singleton</type>
						<class>REsplin_CustomerNumber/observer</class>
						<method>beforeBlockToHtml</method>
					</resplin_customernumber_before_block_to_html>
				</observers>
			</core_block_abstract_to_html_before>
			<eav_collection_abstract_load_before>
				<observers>
					<resplin_customernumber_before_collection_load>
						<class>REsplin_CustomerNumber/observer</class>
						<method>beforeCollectionLoad</method>
					</resplin_customernumber_before_collection_load>
				</observers>
			</eav_collection_abstract_load_before>
		</events>
	</adminhtml>
</config>