<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Alanstormdotcom_Helloworld>
			<version>0.1.0</version>
		</Alanstormdotcom_Helloworld>
	</modules>

	<frontend>
		<routers>
			<!-- This should be lowercase version of the module name -->
			<helloworld>
				<use>standard</use>
				<args>
					<!--
						Full name of the module, including its package/namespace name.
						This will be used by the system to locate the controller files.
					-->
					<module>Alanstormdotcom_Helloworld</module>
					<frontName>helloworld</frontName>
				</args>
			</helloworld>
		</routers>
	</frontend>
</config>
